{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}

{% block content %}



    {% if user.is_authenticated %}
    <h1>Bienvenue, {{ user.username }} !</h1>
    <p><a href="{% url 'mon_application:activity_list' %}">Voir la liste de ses activités</a></p>
    {% else %}
    <h1>Connectez-vous pour avoir un accès complet aux fonctionnalités de "trackerSport"</h1>
    <h1>Bienvenue sur l'Application de Suivi d'Activités</h1>
    <p>Veuillez vous connecter pour accéder à la liste des activités.</p>
    {% endif %}

{% endblock %}



