{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}
{% load static %}
{% block content %}



    {% if user.is_authenticated %}
    <h1>Bienvenue, {{ user.username }} !</h1>
    <nav class="navigation_activites_objectifs_statistiques">
        <ul>
            <li><a href="{% url 'mon_application:activity_list' %}">Mes activités</a></li>
            <li><a href="{% url 'mon_application:user_objectives' %}">Mes Objectifs</a></li>
            <li><a href="{% url 'mon_application:statistics_view' %}">Mes statistiques</a></li>
        </ul>
    </nav>
    <img class="img-accueil" src="{% static 'images/img-accueil.jpg' %}" alt="Logo">

    
    {% else %}    
    <h1>Bienvenue sur l'Application de Suivi d'Activités</h1>
    <p>Veuillez vous connecter pour accéder à la liste des activités.</p>
    <img class="img-accueil" src="{% static 'images/img-accueil.jpg' %}" alt="Logo">
    {% endif %}

{% endblock %}



